<div class="card">
  <div class="card-block btn-primary">
    <div class="card-title text-xs-center">
      <h3>Ads</h3>
    </div>
  </div>
  <div class="row" [ngStyle]="{'margin':'10px'}">
    <div class="col-xs-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for ads..">
      </div>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-3">
        <metrics-objective-filter (sortBy)="(filterByObjective( $event ))"></metrics-objective-filter>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-3">
        <metrics-criteria-filter (sortBy)="(filterByCriteria( $event ))"></metrics-criteria-filter>
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="card" *ngFor="let ad of ads | search:'ad':searchText">
      <div class="card-block">
        <div class="col-xs-2" *ngIf="ad.ad_creatives">
          <img class="card-img-top" src="{{ad.ad_creatives.thumbnail_url}}" alt="post image">
        </div>
        <div class="col-xs-10">
          <div class="col-xs-6">
            <p>{{ad.name}}</p>
          </div>
          <div class="col-xs-4">
            <span class="tag tag-info">Synchronized on: {{ad.scan_id.split('_')[0] * 1000 | date:'short'}}</span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-bordered">
          <thead class="thead-default">
            <tr class="text-xs-center">
              <th><i class="fa fa-spinner" aria-hidden="true"></i> Status</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Created</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Updated</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Start Date</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> End Date</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Objective</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Spend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-xs-center">
                <i class="fa fa-circle" aria-hidden="true" [ngStyle]="{'color':'green'}" *ngIf="ad.status === 'ACTIVE'"></i>
                <i class="fa fa-circle" aria-hidden="true" [ngStyle]="{'color':'red'}" *ngIf="ad.status === 'PAUSED'"></i>
              </td>
              <td><span class="tag tag-info">{{ad.created_time| date:'short'}}</span></td>
              <td><span class="tag tag-info">{{ad.updated_time| date:'short'}}</span></td>
              <td><span class="tag tag-info">{{ad.date_start| date:'short'}}</span></td>
              <td><span class="tag tag-info">{{ad.date_stop| date:'short'}}</span></td>
              <td><span class="tag tag-info">{{ad.objective}}</span></td>
              <td><span class="tag tag-info">{{ad.spend}}</span></td>
            </tr>
          </tbody>
          <thead class="thead-default">
            <th><i class="fa fa-users" aria-hidden="true"></i> Reach</th>
            <th><i class="fa fa-eye" aria-hidden="true"></i> Impressions</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Clicks</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpc</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpm</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpp</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> ctr</th>
          </thead>
          <tbody>
            <td><span class="tag tag-info">{{ad.reach}}</span></td>
            <td><span class="tag tag-info">{{ad.unique_impressions}}</span></td>
            <td><span class="tag tag-info">{{ad.clicks}}</span></td>
            <td><span class="tag tag-info">{{ad.cpc}}</span></td>
            <td><span class="tag tag-info">{{ad.cpm}}</span></td>
            <td><span class="tag tag-info">{{ad.cpp}}</span></td>
            <td><span class="tag tag-info">{{ad.ctr}}</span></td>
          </tbody>
        </table>
      </div>
      <div class="card-block" *ngIf="ad.ad_creatives">
        <a routerLink="/post/{{ad.ad_creatives.object_story_id}}" class="btn btn-primary">Page Post</a>
        <a href="{{ad.ad_creatives.instagram_permalink_url}}" class="btn btn-primary" target="_blank">Instagram Post</a>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="jumbotron">
    <h4>Your Ads</h4>
  </div>
  <div class="card" *ngFor="let ad of ads">
    <div class="card-block">
      <div class="row">
        <div class="col-xs-2">
          <img class="card-img-top" src="{{ad.ad_creatives.thumbnail_url}}" alt="post image">
        </div>
        <div class="col-xs-10">
          <div class="card-title">{{ad.ad_name| slice:5}}</div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-bordered">
          <thead>
            <tr class="text-xs-center">
              <th><i class="fa fa-spinner" aria-hidden="true"></i> Status</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Created</th>
              <th><i class="fa fa-users" aria-hidden="true"></i> Reach</th>
              <th><i class="fa fa-eye" aria-hidden="true"></i> Impressions</th>
              <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Clicks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="tag tag-info">{{ad.status}}</span></td>
              <td><span class="tag tag-info">{{ad.created_time| date:'medium'}}</span></td>
              <td><span class="tag tag-info">{{ad.reach}}</span></td>
              <td><span class="tag tag-info">{{ad.unique_impressions}}</span></td>
              <td><span class="tag tag-info">{{ad.clicks}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-block text-xs-center">
        <a routerLink="/ad/{{ad.ad_id}}" class="btn btn-outline-primary btn-sm">Ad</a>
        <a routerLink="/post/{{ad.ad_creatives.object_story_id}}" class="btn btn-outline-secondary btn-sm">Post</a>
        <a routerLink="/campaign/{{ad.campaign_id}}" class="btn btn-outline-info btn-sm">Campaign</a>
        <a href="{{ad.ad_creatives.instagram_permalink_url}}" class="btn btn-outline-warning btn-sm" target="_blank" *ngIf="ad.ad_creatives.instagram_permalink_url">Instagram</a>
      </div>
    </div>
  </div>
</div>-->
