<div class="card">
  <div class="card-block btn-primary">
    <div class="card-title text-xs-center">
      <h3>Adsets</h3>
    </div>
  </div>
  <div class="row" [ngStyle]="{'margin':'10px'}">
    <div class="col-xs-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for adsets..">
      </div>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-3">
        <metrics-objective-filter (sortBy)="(filterByObjective( $event ))"></metrics-objective-filter>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-3">
        <metrics-criteria-filter (sortBy)="(filterByCriteria( $event ))"></metrics-criteria-filter>
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="card" *ngFor="let adset of adsets | search:'adset':searchText">
      <div class="card-block">
        <div class="card-title" [ngStyle]="{'cursor': 'pointer'}">
          <div class="col-xs-6">
            <p>{{adset.name}}</p>
          </div>
          <div class="col-xs-3">
            <span class="tag tag-info">Synchronized on: {{adset.scan_id.split('_')[0] * 1000 | date:'short'}}</span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-bordered">
          <thead class="thead-default">
            <tr class="text-xs-center">
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Created</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Updated</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Start Date</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> End Date</th>
              <th><i class="fa fa-clock-o" aria-hidden="true"></i> Objective</th>
              <th><i class="fa fa-money" aria-hidden="true"></i> Spend
              <span class="tag tag-default" (mouseover)="setCurrency(adset.currency)" [ngStyle]="{'cursor': 'pointer'}">{{adset.currency}}</span>
                <span *ngIf="adset.currency !== 'USD'" class="tag tag-primary" (mouseover)="setCurrency('USD')" [ngStyle]="{'cursor': 'pointer'}">USD</span>
                <span *ngIf="adset.currency !== 'EUR'" class="tag tag-success" (mouseover)="setCurrency('EUR')" [ngStyle]="{'cursor': 'pointer'}">EUR</span>
                <span *ngIf="adset.currency !== 'GBP'" class="tag tag-warning" (mouseover)="setCurrency('GBP')" [ngStyle]="{'cursor': 'pointer'}">GBP</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="tag tag-info">{{adset.created_time| date:'shortDate'}}</span></td>
              <td><span class="tag tag-info">{{adset.updated_time| date:'shortDate'}}</span></td>
              <td><span class="tag tag-info">{{adset.date_start| date:'shortDate'}}</span></td>
              <td><span class="tag tag-info">{{adset.date_stop| date:'shortDate'}}</span></td>
              <td><span class="tag tag-info">{{adset.objective}}</span></td>
              <td>
                <span *ngIf="preferred_currency === adset.currency || preferred_currency === ''" [style.color]="'green'">{{adset.spend}} {{adset.currency}}</span>
                <span *ngIf="preferred_currency !== '' && preferred_currency !== adset.currency" [style.color]="'green'">{{adset.spend | currencyConverter:adset.currency:preferred_currency | async}}</span>
              </td>
            </tr>
          </tbody>
          <thead class="thead-default">
            <th><i class="fa fa-eye" aria-hidden="true"></i> Impressions</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Clicks</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpc</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpm</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> cpp</th>
            <th><i class="fa fa-mouse-pointer" aria-hidden="true"></i> ctr</th>
          </thead>
          <tbody>
            <td><span class="tag tag-info">{{adset.unique_impressions}}</span></td>
            <td><span class="tag tag-info">{{adset.clicks}}</span></td>
            <td><span class="tag tag-info">{{adset.cpc}}</span></td>
            <td><span class="tag tag-info">{{adset.cpm}}</span></td>
            <td><span class="tag tag-info">{{adset.cpp}}</span></td>
            <td><span class="tag tag-info">{{adset.ctr}}</span></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
